In [5]:
# import os
# os.system("pip install  selenium")
# os.system("pip install  beautifulsoup4")
# os.system("pip install  requests")

In [2]:
import sys
import os
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Get Summarise data from Retail sale of jewellery in specialized stores

In [3]:
# Step 1: Initialize Chrome driver
# chromedriver_autoinstaller.install()
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")
driver = webdriver.Chrome(options)
driver.get('https://datawarehouse.dbd.go.th/index')
time.sleep(10)

In [4]:
click_out = driver.find_element(By.XPATH, '/html/body/div[5]/div/div/div/div[3]/button')
click_out.click()
time.sleep(3)

In [5]:
click_out_2 = driver.find_element(By.XPATH, '/html/body/div[7]/div/div/div/div[1]/div[2]/div[1]/button')
click_out_2.click()
time.sleep(3)

In [6]:
search = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div/form/div/input')
search.send_keys(47732)
time.sleep(3)

In [7]:
click_button = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div/form/div/span')
click_button.click()
time.sleep(10)

In [8]:
click_out_3 = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div[2]/div[4]/ul/li/a')
click_out_3.click()
time.sleep(10)

In [9]:
click_out_4 = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div[2]/div[2]/div[2]/div/table/tbody/tr/td[4]')
click_out_4.click()
time.sleep(24)

In [10]:
# Find the table using its XPath
table_element = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div[2]/div[1]/div[2]/div[2]/div[2]/div/div/div[2]/div/div/div/div')

In [11]:
# Get the HTML content of the table
table_html = table_element.get_attribute('outerHTML')

# Parse the HTML content with BeautifulSoup
soup = BeautifulSoup(table_html, 'html.parser')

# Find all table rows including headers
table_rows = soup.find_all('tr')

# Extract table headers
table_headers = table_rows[0].find_all('th')
headers = [header.text.strip() for header in table_headers]

# Extract table data
table_data = []
for row in table_rows[1:]:
    row_data = [cell.text.strip() for cell in row.find_all('td')]
    table_data.append(row_data)

# Create DataFrame
df = pd.DataFrame(table_data, columns=headers)
df.head()

  ลำดับ     เลขทะเบียน                   ชื่อนิติบุคคล     รายได้รวม (บาท)
0     1  0105554051200   อินเตอร์โกลด์ โกลด์เทรด จำกัด  483,506,763,726.39
1     2  0105553020335          ออโรร่า เทรดดิ้ง จำกัด  316,626,093,760.71
2     3  0105546153732                  ออสสิริส จำกัด  158,176,099,976.45
3     4  0105559104085    เบสตั้น โกลด์ เทรดดิ้ง จำกัด  147,948,566,628.50
4     5  0105559166552  วี อาร์ เค เพาเวอร์โกลด์ จำกัด   86,145,044,444.28

In [12]:
df.columns = ['no', 'co_id', "corporation_name", "total_revenue_baht"]
df.columns

Index(['no', 'co_id', 'corporation_name', 'total_revenue_baht'], dtype='object')

In [13]:
df.drop(columns=['no'], inplace=True)

In [14]:
# Remove commas and convert to integer
df['total_revenue_baht'] = df['total_revenue_baht'].str.replace(',', '').astype(float)

In [15]:
df.dtypes

co_id                  object
corporation_name       object
total_revenue_baht    float64
dtype: object

In [16]:
df.to_csv('top_5_jewellery_store.csv', index=False)