In [9]:
import pandas as pd
import os

In [12]:
path = r"C:\Users\Admin\Documents\GitHub\Data-Science-Bootcamp\Online Retail Dashboard with Power BI and Python"
file_name = r"data\online_retail_II.csv"
retail_df = pd.read_csv(os.path.join(path, file_name), encoding="utf8")
retail_df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [19]:
retail_df.columns = retail_df.columns.str.lower().str.replace(" ", "_")
retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   invoice      1067371 non-null  object
 1   stockcode    1067371 non-null  object
 2   description  1062989 non-null  object
 3   quantity     1067371 non-null  int64
 4   invoicedate  1067371 non-null  object
 5   price        1067371 non-null  float64
 6   customer_id  824364 non-null   float64
 7   country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

In [21]:
# Check NA
retail_df.isnull().sum()

invoice             0
stockcode           0
description      4382
quantity            0
invoicedate         0
price               0
customer_id    243007
country             0
dtype: int64

In [23]:
# Drop rows with missing values in the "Customer ID" column
# Customer ID = NA are not yet members
retail_df.dropna(subset=["customer_id"],inplace=True)
retail_df.isnull().sum()

invoice        0
stockcode      0
description    0
quantity       0
invoicedate    0
price          0
customer_id    0
country        0
dtype: int64

In [24]:
retail_df.shape

NameError: name 'df_Transaction' is not defined